site_name: mlops_project
site_author: Christian Amtoft Nickelsen
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true

nav:
  - Home: index.md
  - Workflow: workflow.md
  - Running Locally: local-setup.md
  - Cloud Setup: cloud-setup.md
